.ql-editor {
  width: max(200px, 80%);
  margin-left: auto;
  margin-right: auto;
  height: 1200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ql-container {
  background-color: hsl(0, 0%, 88%);
  padding-top: 20px;
}

.ql-toolbar {
  display: flex;
  justify-content: center;
  z-index: 10;
}
